azure-common==1.1.25
azure-kusto-data==0.0.45
azure-kusto-ingest==0.0.45
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
azure-storage-queue==2.1.0 
msrestazure==0.6.3
pandas
numpy

twine==1.13.0